{erl_opts, [
     debug_info
    ,{parse_transform, lager_transform}
]}.

{deps, [
     {lager, "3.2.1"}
    ,{restc, "0.3.4"}
    ,{stillir, "1.0.0"}
    ,{st_commons, "1.2.1"}
    ,{erlando, {git, "https://github.com/rabbitmq/erlando.git", "1c1ef25a9bc228671b32b4a6ee30c7525314b1fd"}}
    ,{parse_trans, "3.0.0"}
]}.

{dialyzer, [
     {warnings, [error_handling, race_conditions, unmatched_returns, underspecs]}
    ,{get_warnings, true}
    ,{plt_apps, top_level_deps}
]}.

{shell, [
     {apps, [sf_client]}
    ,{config, "priv/app.config"}
]}.

{relx, [
    {release, {sf_client, "0.1.0"}, [
         st_commons
        ,erlando
        ,parse_trans
    ]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, false}
]}.

{profiles, [
    {prod, [
        {erl_opts, [
             no_debug_info
            ,warnings_as_errors
            ,warn_export_all
        ]},
        {relx, [
            {dev_mode, false}
        ]}
    ]},
    {test, [
        {deps, [
             meck
            ,proper
        ]},
        {erl_opts, [
            debug_info
        ]}
    ]},
    {dev_console, [
        {eunit_opts, [
            no_tty  %% This turns off the default output, MUST HAVE
            ,{report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
        ]}
        ,{deps, [
            {eunit_formatters, "0.3.1"}
        ]}
    ]}
]}.

{plugins                , [{coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}]}.
{cover_enabled          , true}.
{cover_print_enabled    , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name , "travis-ci"}.
