{erl_opts, [
     debug_info
    ,{parse_transform, lager_transform}
]}.

{deps, [
     {lager, "3.2.1"}
    ,{restc, {git, "https://github.com/synlay/restclient.git", {ref, "c162ca2e02e31aa2b4da670f88f16e9c45263cf1"}}}
    ,{stillir, "1.0.0"}
    ,{st_commons, {git, "https://github.com/synlay/st_commons.git", {branch, "develop"}}}
    ,{erlando, {git, "https://github.com/rabbitmq/erlando.git", "1c1ef25a9bc228671b32b4a6ee30c7525314b1fd"}}
    ,{parse_trans, "3.0.0"}
]}.

{plugins, [rebar3_auto]}.

{shell, [
     {apps, [sf_client]}
    ,{config, "priv/app.config"}
]}.
