{erl_opts, [
     debug_info
    ,{parse_transform, lager_transform}
]}.

{deps, [
     {lager, "3.2.1"}
    ,{restc, {git, "https://github.com/synlay/restclient.git", {ref, "fdaf3d112f0e028a2702b3f3ed6ef327e6c0b410"}}}
    ,{stillir, "1.0.0"}
    ,{st_commons, {git, "https://github.com/synlay/st_commons.git", {branch, "develop"}}}
    ,{erlando, {git, "https://github.com/rabbitmq/erlando.git", "1c1ef25a9bc228671b32b4a6ee30c7525314b1fd"}}
    ,{parse_trans, "3.0.0"}
]}.

{dialyzer, [
     {warnings, [error_handling, race_conditions, unmatched_returns, underspecs]}
    ,{get_warnings, true}
    ,{plt_apps, top_level_deps}
]}.

{shell, [
     {apps, [sf_client]}
    ,{config, "priv/app.config"}
]}.
