[
    {sf_client, [
         {sf_rest_api_version, "37.0"}
        ,{sf_rest_api_endpoint, "cs83.salesforce.com"}

        ,{access_token_expiry, 3600}

        ,{access_token_server_request_retry_timeout, 3600}

        ,{credentials, [
             {client_id, ""}
            ,{client_secret, ""}
            ,{username, ""}
            ,{password, ""}
        ]}

        ,{sobjects_mapping, #{
             "Account" => undefined
            ,"Contact" => undefined
            ,"Opportunity" => undefined
            ,"Quote" => undefined
            ,"Order" => undefined
        }}
    ]}
].
