[
    {sf_client, [
         {sf_rest_api_version, "39.0"}
        ,{sf_rest_api_endpoint, "localhost"}

        ,{access_token_expiry, 3600}

        ,{access_token_server_request_retry_timeout, 6300}

        ,{credentials, [
             {client_id, "client_id"}
            ,{client_secret, "client_secret"}
            ,{username, "username"}
            ,{password, "password"}
        ]}

        ,{sobjects_mapping, #{}}
    ]}
    ,{lager, [
        {colored, true},
        {handlers, [
%%            {lager_console_backend, [
%%                debug,
%%                {lager_default_formatter, [time, color, " [", severity, "]", " [", pid, "]", " [", module, ":", function, ":", line, "] - ", message, "\e[0m\r\n"]}
%%            ]}
        ]}
    ]}
].
